.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabledCard {
  pointer-events: none;
}

.card {
  border: 1px solid #fff0;
  border-radius: 2px;
  transition: 150ms;
  display: inline-block;
  text-align: center;
  width: 2em;
  font-family: Consolas, Monospace;
  font-size: 2em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 0.25em;
  user-select: none;
}

.dimmedCard {
  color: black;
  background-color: white;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.activeCard {
  color: white;
  background-color: deeppink;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 150ms;
}

.activeCard.completedCard {
  border-color: deeppink;
  color: deeppink;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 300ms;
}

.solutionCard {
  color: white;
  background-color: #00c851;
  transition: 150ms;
}

#pastAttempts {
  margin-top: 1em;
}